{% extends "catalogue/base.html" %}

{% block content %}
<div class="jumbotron text-center" style="background-color:	#FFFFFF">
    <h1 class="display-4">The FullSTack Ninja</h1>
    <hr class="my-4">
    <h4 class="display-6">List of categories.</h4>
 </div>

<div class="container">
    {% for category in categories %}

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-11">
                        {{ category.title }}

                    </div>
                </div>

                <div class="row">
                    <div class="col-2">
                        <a class="btn btn-success" href="{% url 'updatecategory' pk=category.pk %}" >Update</a>

                    </div>

                    <div class="col-2">
                        <a class="btn btn-danger" href="{% url 'deletecategory' pk=category.pk %}" >Delete</a>
                    </div>

                </div>
            </div>
        </div>
    {% endfor %}

</div>


{% endblock %}