{% extends "catalogue/base.html" %}

{% block content %}

<div class="jumbotron text-center" style="background-color:	#FFFFFF">
        <h1 class="display-4">The FullStack Ninja</h1>
        <h4 class="display-6">Welcome to the Staff page.</h4>
</div>

<div class="d-flex flex-row justify-content-center">
    <a href="#" class="card mx-1 p-1 flex-fill" style="background-color:#C25E7D; height:5rem; text-align: center;  color: white " role="button">Add Staff member</a>
    <a href="#" class="card mx-1 p-1 flex-fill" style="background-color:#7C5A8A; height:5rem; text-align: center;  color: white " role="button">View / Update Staff members</a>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}