{% extends "catalogue/base.html" %}

{% block content %}
 <div class="jumbotron text-center">
    <h1 class="display-2">The FullStack Ninja</h1>
    <h4 class="display-6">List of Tutorial videos.</h4>
 </div>

<div class="container">
    {% for video in tutorialvideos %}

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-11">
                        <h1><a href="#">{{ video.video_title }}</a> </h1>


                    </div>
                </div>

                <div class="row">
                    <div class="col-2">
                        <a class="btn btn-success" href="#" >Update</a>

                    </div>

                    <div class="col-2">
                        <a class="btn btn-success" href="#" >Update</a>
                    </div>

                </div>
            </div>
        </div>
    {% endfor %}

</div>


{% endblock %}