{% extends "catalogue/base.html" %}

{% block content %}

<div class="jumbotron text-center" style="background-color:	#FFFFFF">
      <div class="container">
        <h1 class="display-4">The FullStack Ninja</h1>
           <hr class="my-4">
        <h2 class=" lead">All Tutorial Series</h2>

      </div>
    </div>
    <div class="container">
      <div class="card-columns ">
        {% for tutorial in tutorialseries %}
          <div class="card p-3 shadow" >

            <img src={{tutorial.tutorial_logo.url}}  class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{tutorial.title}}</h5>
              <p class="card-text">{{tutorial.description}}</p>
<!--                <p>{{tutorial.tutorial_series_slug}}</p>-->
<!--                <p>{{tutorial.tutorial_category.slug}}</p>-->
<!--                <p>{{tutorial.tutorial_category.classification.slug}}</p>-->
            </div>
            <div class="card-body">
              <a href="{% url 'hometutorialvideos' category_slug=tutorial.tutorial_category.classification.slug slug_subcategory=tutorial.tutorial_category.slug tutorial_series_slug=tutorial.tutorial_series_slug %}" class="btn btn-info">Open</a>
<!--              <a href="#" class="card-link">Another link</a>-->
            </div>
          </div>
          {% empty %}
                <div class="card p-1 shadow ">
                    <p>Coming soon...</p>
                </div>
        {% endfor %}
      </div>
    </div>


{% endblock %}