{% extends "catalogue/base.html" %}

{% block content %}

<div class="jumbotron text-center" style="background-color:	#FFFFFF">
      <div class="container">
        <h1 class="display-4">The FullStack Ninja</h1>
          <hr class="my-4">
        <h2 class=" lead">Conatact</h2>
      </div>
    </div>
    <div class="container">
        <p>Please contact me using the form below</p>

            <form action="" method="POST" novalidate enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    {{form.as_p}}
                </div>
                <button type="submit" class="btn btn-primary" style="background-color: rgb(57, 5, 99); ">Submit</button>
            </form>







    </div>


{% endblock %}