{% extends "catalogue/base.html" %}

{% block content %}

<div class="jumbotron text-center" style="background-color:	#FFFFFF">
      <div class="container">
        <h1 class="display-4">Udemy Courses</h1>
          <hr class="my-4">
        <h2 class=" lead">All courses are offered at a discount with coupon code <span style="color: red">INSTRUCTORCODE</span></h2>
      </div>
    </div>
    <div class="container">
      <div class="card-columns ">
        {% for course in courses %}
          <div class="card p-3 shadow" >
            <img src={{course.logo.url}} class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">{{course.title}}</h6>
                <p>Udemy Course price ${{course.price}}</p>
                <p style="color: red">Instructor discount price ${{course.discount_price}}</p>

            </div>
            <div class="card-body">
              <a href="{{course.course_link}}" target="_blank" class="btn btn-danger">Buy at discount</a>
<!--              <a href="#" class="card-link">Another link</a>-->
            </div>
          </div>
          {% empty %}
          <div class="card p-1 shadow ">
                    <p>Coming soon...</p>
              <img src="media/images/Category/icon.png"  class="card-img-top" alt="" >
                </div>
        {% endfor %}
      </div>
    </div>


{% endblock %}