{% extends "catalogue/base.html" %}

{% block content %}

<div class="jumbotron text-center" style="background-color:	#FFFFFF">
      <div class="container">
        <h1 class="display-4">The FullStack Ninja</h1>
          <hr class="my-4">
        <h2 class=" lead">Subcategories in {{singlecategory.title}} </h2>

      </div>
    </div>
    <div class="container">
      <div class="card-columns ">
        {% for category in subcategories%}
          <div class="card p-3 shadow" >
            <img src={{category.subcategory_logo.url}}  class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{category.title}}</h5>
              <p class="card-text">{{category.description}} </p>
            </div>
            <div class="card-body">
              <a href="{% url 'hometutorialseries' category_slug=singlecategory.slug slug_subcategory=category.slug %}" class="btn btn-danger">Open</a>
<!--              <a href="#" class="card-link">Another link</a>-->
            </div>
          </div>
        {% endfor %}
      </div>
    </div>


{% endblock %}