{% extends "catalogue/base.html" %}

{% block content %}

<div class="jumbotron text-center" style="background-color:	#FFFFFF">
      <div class="container">
        <h1 class="display-4">The FullStack Ninja</h1>
          <hr class="my-4">
        <h2 class=" lead">Tutorial series titled <strong>{{tutorial_series.title}}</strong> </h2>

          <p>Github repo <a href="{{tutorial_series.github_repo_link}}" target="_blank">Download source code here</a></p>
      </div>
    </div>
    <div class="container">

        {% for video in tutorial_videos%}
          <div class="card p-3 shadow" >

            <div class="card-body">
              <h5 class="card-title">{{video.video_title}}</h5>
              <p class="card-text">{{video.description}} </p>
<!--                <p>{{category.slug}}</p>-->
<!--                <p>{{subcategory.slug}}</p>-->
<!--                <p>{{tutorial_series.tutorial_series_slug}}</p>-->
<!--                <p>{{video.tutorial_video_slug}}</p>-->
<!--                <p><a href="https://www.youtube.com/embed/_hL0vBqEa8s">g</a> {{video.youtube_link}}</p>-->
<!--                <iframe-->
<!--                src="{{video.youtube_link}}"></iframe>-->
            </div>
            <div class="card-body">
              <a href="{% url 'videodetail' category_slug=category.slug slug_subcategory=subcategory.slug tutorial_series_slug=tutorial_series.tutorial_series_slug video_slug=video.tutorial_video_slug %}"
                 class="btn btn-primary">Watch</a>
            </div>
          </div>
        {% endfor %}

    </div>


{% endblock %}