{% extends "catalogue/base.html" %}

{% block content %}

<div class="jumbotron text-center" style="background-color:	#FFFFFF">
      <div class="container">
        <h1 class="display-4">The FullStack Ninja</h1>
          <hr class="my-4">
        <h2 class=" lead">Tutorial series for {{subcategory.title}} in {{category.title}}</h2>

      </div>
    </div>
    <div class="container">
      <div class="card-columns ">
          {% for tutorial in tutorialseries %}
              <div class="card p-3 shadow" >
                  <img src={{tutorial.tutorial_logo.url}} width="300" height="300" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ tutorial.title }}</h5>
                    <p class="card-text">{{tutorial.description}}</p>

                    <p>Github repo <a href="{{tutorial.github_repo_link}}" target="_blank">Download source code here</a></p>

                  <p class="card-text"></p>
                </div>
                <div class="card-body">
                  <a href="{% url 'hometutorialvideos' category_slug=category.slug slug_subcategory=subcategory.slug tutorial_series_slug=tutorial.tutorial_series_slug %}" class="btn btn-primary">Open</a>
                </div>
              </div>
          {% endfor %}

      </div>
    </div>


{% endblock %}