{% extends "catalogue/base.html" %}

{% block content %}

<div class="jumbotron text-center" style="background-color:	#FFFFFF">
      <div class="container">
        <h1 class="display-4">The FullStack Ninja</h1>
          <hr class="my-4">
<!--          <h1 class="lead">{{tutorial_series.title}}</h1>-->
          <h2 class=" lead">Tutorial series titled <strong>{{tutorial_series.title}}</strong> </h2>
        <h2 class=" lead">Video title: <strong>{{videofile.video_title}}</strong> </h2>
          <p>Github repo <a href="{{tutorial_series.github_repo_link}}" target="_blank">Download source code here</a></p>
<!--          <p>{{category.title}}</p>-->
<!--          <P>{{category.slug}}</P>-->
<!--          <p>{{subcategory.title}}</p>-->

      </div>
</div>

<br>
<div class="row">
    <div class="col-sm-8">
        <div class="container">
<!--            <div class="container">-->
                <div class="card p-1 shadow ">
                    <div class="embed-responsive embed-responsive-16by9">
                         <iframe src="{{videofile.youtube_link}}" >
                        </iframe>
                    </div>
                </div>
<!--            </div>-->
        </div>
    </div>
    <div class="col-sm-3">
        {% for video in tutorial_videos %}
         <div class="card p-1 shadow" >
            <div class="card-body">
                <h4> <a class="card-title" href="{% url 'videodetail' category_slug=category.slug slug_subcategory=subcategory.slug tutorial_series_slug=tutorial_series.tutorial_series_slug video_slug=video.tutorial_video_slug %}">{{video.video_title}}</a> </h4>
            </div>
          </div>
        {% endfor %}
    </div>
</div>
<hr class="my-4">
<br>
<div class='row'>

    <div class="col-sm-9">

        <div class="container">
            <h3>Subcategories under {{category.title}}</h3>
            <br>
            <div class="d-flex flex-row justify-content-center">
                {% for sub in all_subcategories %}
                <a href="{% url 'hometutorialseries' category_slug=category.slug slug_subcategory=sub.slug %}" class="card mx-1 p-1 flex-fill" style="background-color:#18294E;  height:3rem; text-align: center; color: white" role="button">{{sub.title}}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-sm-2">

    </div>

</div>

<br>
<br>






{% endblock %}